#onen
{
    margin-top: 10%;
}

#oneo
{
    margin-top: 10%;
}

a
{
    text-decoration: none;
}

.ret
{
    margin: auto;
}

.copyright-text:hover
{
    color: #0275d8;
}

.site-footer a:hover
{
  color: #0275d8;
}

.designer:hover
{
  color: #0275d8;
}

.email,
.avi,
.hed,
.cnt,
.phn
{
    color: #ffffff;
}

.email:hover,
.avi:hover,
.hed:hover,
.cnt:hover,
.phn:hover
{
    color: #0275d8;
}

.headero
{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("./images/pix2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}


.section1
{
    margin-top: 20%;
}


.reg-form .form-field
{
    position: relative;
    margin: 32px 0;
}


.reg-form .input-text
{
    width: 100%;
    display: block;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.reg-form .input-text:focus
{
    outline: none;
}

#onen .reg-form .btn
{
    background-color: #f4524d;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    padding: 8px 16px;
    width: 20em;
}


#oneo .reg-form .btn
{
    background-color: #5543ca;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    padding: 8px 16px;
    width: 20em;
}

#oneo
{
    max-width: 800px;
    margin: 50px auto;
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
    padding: 30px;

}

#oneo .title
{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    color: #5543ca;
    background: linear-gradient(to right, #5543ca 0%, #f4524d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#onen
{
    max-width: 800px;
    margin: 50px auto;
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
    padding: 30px;

}

#onen .title
{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    color: #5543ca;
    background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#btn1
{
    background-color:#f4524d
}

#btn2
{
    background-color: #5543ca;
}